main.registration-page-main
    img(src=require("./common.blocks/registration-page-main/registration-page-background-1.jpg"), alt="").js-main__background-1.registration-page__background
    img(src=require("./common.blocks/registration-page-main/registration-page-background-2.jpg"), hidden alt="").js-main__background-2.registration-page__background
    .main__register-popup
            include ../register-popup/register-popup.pug