main.sign-in-page-main
    img(src=require("./common.blocks/sign-in-page-main/sign-in-page-background-1.jpg"), alt="").js-main__background-1.sign-in-page__background
    img(src=require("./common.blocks/sign-in-page-main/sign-in-page-background-2.jpg"), hidden alt="").js-main__background-2.sign-in-page__background
    .main__sign-in-popup
        include ../sign-in-popup/sign-in-popup.pug