.input-email-and-submit-container
    input(type="email", name="", placeholder="Email", required, value="").text_style_usual-black.input-email_submit
    input(type="submit", value="").input-submit_email