include ../checkbox/checkbox

aside.aside 
    form.aside-form
        h2.text_style_small-bold даты пребывания в отеле
        
        h2.text_style_small-bold гости
        .aside__price-slider 
            include ../price-slider/price-slider
        h2.text_style_small-bold правила дома
        .aside__house-rules
            +checkbox({labels: ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']})
        h2.text_style_small-bold доступность
        .aside__accessibility
            include ../rich-checkbox/rich-checkbox
        h2.text_style_small-bold удобства номера
        .aside-accordion-container
            h2.text_style_small-bold.aside__heading дополнительные удобства
                .aside-arrow-container
                    .aside__heading-arrow
            .aside__additional-options
                +checkbox({labels: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь'],})
