
aside.aside 
    h2.text_style_small-bold даты пребывания в отеле

    h2.text_style_small-bold гости
    h2.text_style_small-bold диапазон цены
    h2.text_style_small-bold правила дома
    .aside__house-rules
        include ../checkbox/checkbox
    h2.text_style_small-bold доступность
    h2.text_style_small-bold удобства номера
    h2.text_style_small-bold дополнительные удобства