.social-network-links-container   
    a(href="/mock-address/change-me", target="_blank", rel="noopener noreferrer").social-network-link.social-network__twitter
        img(src=require('./footer-twitter-link.png'), alt="twitter link")
    a(href="/mock-address/change-me", target="_blank", rel="noopener noreferrer").social-network-link.social-network__facebook
        img(src=require('./footer-facebook-link.png'), alt="facebook link")
    a(href="/mock-address/change-me", target="_blank", rel="noopener noreferrer").social-network-link.social-network__instagram
        img(src=require('./footer-instagram-link.png'), alt="instagram link")