include ../input/input.pug

.sign-in-window-container 
    h1.sign-in__heading.text_style_large-bold Войти
    form.sign-in-form(action="") 
        +input({type: 'email'})
        +input({type: 'password'})
        +input({type: 'submit', text: 'войти'})
