.hotel-room-block 
    display: inline-block
    margin: 1% .6%

.room-pictures-container
    height: 152px
    width: 271px
    position: relative
    overflow: hidden

.room-pictures__scroll-button
    position: absolute
    display: inline-block
    top: 0
    height: 152px
    width: 30px
    color: $white
    background-color: transparent
    font-size: 2rem

.room-pictures__left-scroll-button
    left: 0

.room-pictures__right-scroll-button

    right: 0

.room-pictures__list
    list-style: none
    padding: 0
    margin: 0
    transition: margin-left 250ms
    width: 9999px

.room-pictures__list li
    display: inline-block

    
.room-pictures-container img
    border-radius: 4px

.room-detail-container
    margin: 1.25rem

.room-number-and-price-container
    display: flex
    justify-content: space-between
    align-items: flex-end
    margin-bottom: .8rem

.room__suite
    text-transform: uppercase
    color: $purple
    font-size: .75rem
    font-weight: 700

.room__number
    color: $black
    font-size: .875rem
    font-weight: 700


.room__number strong
    font-size: 1.2rem

.room__price
    color: $gray2
    font-size: .75rem

.room__price b
    font-size: .875rem

.room__hr
    border: none
    border-top: 1px solid $gray1

.room-rating-and-review-container
    display: flex
    justify-content: space-between
    align-items: flex-end

.room__reviews
    align-self: center
    color: $gray2
    font-size: .875rem

.rating-star
    margin: 0 .1rem