.search-popup-container
    background: $white
    height: 304px
    padding: 25px 30px 45px 30px
    border-radius: 4px

.search-popup__header
    line-height: 29px
    margin-bottom: .4em

.search-popup-arrival-date-container,
.search-popup-departure-date-container
    display: inline-block
    width: 50%

.search-popup__arrival-heading
    display: inline-block
    margin-bottom: .2rem
    line-height: 1.6em

.search-popup__departure-heading
    display: inline-block
    margin-bottom: .2rem
    line-height: 1.6em
    margin-left: .6rem

.search-popup__arrival-date-input
    width: 93%

.search-popup__departure-date-input
    width: 93%
    margin-left: .6rem

.search-popup-dates
    display: flex
    justify-content: space-between
