.price-slider-container
    h2.text_style_small-bold.price-slider__heading диапазон цены
    label.price-slider__label
        input(type="text").price-slider__input
        .price-slider__bar
        | Стоимость за сутки пребывания в номере