.price-slider-container
    label.price-slider__label
        .price-slider-flex-container
            h2.text_style_small-bold.price-slider__heading диапазон цены
            input(type="text").price-slider__input
        .price-slider__bar.js-price-slider__bar
        | Стоимость за сутки пребывания в номере