.landing-page-main
    display: flex
    justify-content: space-between
    align-items: flex-end
    padding-top: 57.64% // 830px/1440px

.promo-paragraph
    margin: 0 10% 1.3rem 0
    max-width: 300px
    text-align: right

.window-container
    align-self: center