.landing-page-main
    padding-top: 5% // 830px/1440px
    height: 830px

.promo-paragraph
    margin: 0 10% 1.3rem 0
    max-width: 300px
    text-align: right
    vertical-align: bottom
    float: right

.main__search-popup
    margin-left: 9.8%
    margin-bottom: 27%
    display: block

.main__sign-in-popup
    margin: 0 40%
    display: none

.main__register-popup
    display: none