main.landing-page-main
    .main__sign-in-popup
        include ../sign-in-popup/sign-in-popup.pug
    .main__register-popup
        include ../register-popup/register-popup.pug
    .main__search-popup
        include ../search-popup/search-popup.pug
    p.promo-paragraph.text_style_usual Лучшие номера для вашей работы, отдыха и просто вдохновения