main.landing-page-main
    img(src=require("./common.blocks/landing-page-main/landing-page-background-1.jpg"), alt="").js-landing-page__background-1.landing-page__background
    img(src=require("./common.blocks/landing-page-main/landing-page-background-2.jpg"), hidden alt="").js-landing-page__background-2.landing-page__background
    img(src=require("./common.blocks/landing-page-main/landing-page-background-3.jpg"), hidden alt="").js-landing-page__background-3.landing-page__background
    .main__search-popup
        include ../search-popup/search-popup.pug
    p.promo-paragraph.text_style_usual Лучшие номера для вашей работы, отдыха и просто вдохновения