mixin btn(option)
    -
      var btnClasses = "btn"
      btnClasses += option.isWhite ? " btn_theme_white" : "" 
      btnClasses += option.isBlue ? " btn_theme_blue" : ""   
    div.btn-container
        div(class=btnClasses)= option.btnText
