mixin button(option)
    -
      var btnClasses = "btn"
      btnClasses += option.isWhite ? " btn_theme_white" : "" 
      btnClasses += option.isBlue ? " btn_theme_blue" : ""   
    div(class=option.class)
        if option.isWhite
        .btn-border-wrap
            button(class=btnClasses)= option.btnText
