@import button_theme/button_theme_blue
@import button_theme/button_theme_white
.btn 
    font-size: .75rem
    text-align: center
    font-family: Montserrat
    font-weight: 700
    padding: .69em 1.35em .71em 1.6em

