// @import ../_font/_font_montserrat/_font_montserrat.css
@import button_theme/button_theme_blue
@import button_theme/button_theme_white
.btn 
    border-radius: 22px
    text-align: center
    font-family: 'montserrat'
    padding: 10px 20px
    color: saddlebrown
