@import button_theme/button_theme_blue
@import button_theme/button_theme_white
@import button_theme/button_theme_narrow
@import button_theme/button_theme_wide

.btn 
    font-size: .75rem
    text-align: center
    font-family: Montserrat
    font-weight: 700

button
    border: none
    text-transform: uppercase
    cursor: pointer