::placeholder
    font-family: $font
    font-weight: 400
    font-size: .875rem
    color: $gray1

input:focus-visible
    outline: none

@import ./input_type/input_type_email
@import ./input_type/input_type_email-and-submit
@import ./input_type/input_type_date
@import ./input_type/input_type_password
@import ./input_type/input_type_submit
@import ./input_type/input_type_text
@import ./input_type/input_type_toggle
@import ./input_type/input_type_radio
