::placeholder
    font-family: $font
    font-weight: 400
    font-size: .875rem
    color: $grey1

.footer-submit
    background: no-repeat url('../src/common.blocks/input/images/arrow_forward.png')
    border: none
    height: 1.1rem
    width: 1.1rem
    vertical-align: text-bottom

.footer-input-email
    padding: .75rem 
    border: none

.footer-input-email:focus-visible
    outline: none
  
.footer-subscribe-form
    border: solid 1px $grey1
    border-radius: 4px
    width: auto

.footer-subscribe-form:focus-visible
    border: solid 1px $grey2