label.radio-label 
    input(type="radio" name="sex", value="male" checked).input-radio
    | Мужчина
label.radio-label 
    input(type="radio" name="sex", value="female").input-radio
    | Женщина


