input(type="radio" name="sex", value="male" checked id="register-popup-sex-input-male").input-radio
label(for="register-popup-sex-input-male").radio-label Мужчина
input(type="radio" name="sex", value="female" id="register-popup-sex-input-female").input-radio
label(for="register-popup-sex-input-female").radio-label Женщина

