include ../hotel-room-block/hotel-room-block

main.search-result-page-main
    +room-block({number: "840", price: "9 900", stars: 4, review: 65})
    +room-block({number: "888", price: "9 990", stars: 5, review: 145,isSuite: true})