.link_theme_arrow
    display: inline-block
    padding-right: 10px
.link__arrow
    width: 10px
    height: 10px
    border-top: 2px solid $grey2
    border-right: 2px solid $grey2
    margin-right: 10px
    transform: rotate(135deg)
    display: inline-block