label.text_style_small.checkbox-label 
    input(type="checkbox").input-checkbox
    | Можно курить
label.text_style_small.checkbox-label 
    input(type="checkbox").input-checkbox
    | Можно с питомцами
label.text_style_small.checkbox-label 
    input(type="checkbox").input-checkbox
    | Можно пригласить гостей (до 10 человек)