input(type="checkbox" id="id-checkbox-smoke").input-checkbox
label(for="id-checkbox-smoke").text_style_small.checkbox-label Можно курить

input(type="checkbox" id="id-checkbox-pet").input-checkbox
label(for="id-checkbox-pet").text_style_small.checkbox-label Можно с питомцами

input(type="checkbox" id="id-checkbox-guest").input-checkbox
label(for="id-checkbox-guest").text_style_small.checkbox-label Можно пригласить гостей (до 10 человек)