mixin link(option)
    -
        var linkClasses = "link"
        linkClasses += option.hasArrow ? " link_theme_arrow" : "" 
        linkClasses += option.isBlack ? " link_theme_black" : ""
        linkClasses += option.usual ? " link_theme_usual" : ""
    div(class=option.class)
        a(class=linkClasses href=option.href)= option.linkText
            if option.hasArrow 
                .arrow-container
                    .link__arrow