include ../button/button.pug
include ../link/link.pug

header.header
    .header-logo
        include ../logo/logo.pug
    .header-nav-and-form-container
        nav.header-nav
            +link({class: 'header-link', linkText: "О нас", usual: true})
            +link({class: 'header-link', linkText: "Услуги", usual: true, hasArrow: true})
            +link({class: 'header-link', linkText: "Вакансии", usual: true})
            +link({class: 'header-link', linkText: "Новости", usual: true})
            +link({class: 'header-link',linkText: "Соглашения" , usual: true, hasArrow: true})
        form.header-form
            +button({class: 'header-btn', btnText: "войти", isWhite: true, id: 'sign_in'})
            +button({class: 'header-btn', btnText: "зарегистрироваться", isBlue: true})
