include ../button/button.pug
include ../link/link.pug

.header
  .header-logo
    include ../logo/logo.pug
  +link({class: 'header-link', linkText: "О нас", href: '#', isBlack: true})
  +link({class: 'header-link', linkText: "Услуги", href: '#', usual: true, hasArrow: true})
  +link({class: 'header-link', linkText: "Вакансии", href: '#', usual: true})
  +link({class: 'header-link', linkText: "Новости", href: '#', usual: true})
  +link({class: 'header-link',linkText: "Соглашения", href: '#', usual: true, hasArrow: true})
  +btn({btnText: "ВОЙТИ", isWhite: true})
  +btn({btnText: "ЗАРЕГИСТИРОВАТЬСЯ", isBlue: true})
    