.header
    background-color: $white
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 1rem 0
    line-height: 0

.header-logo
    display: inline-block
    margin: 0  0 0 8.75rem

.header-right-group
    margin-right: 8rem
    display: inline-block

.header-nav
    display: inline-block

.header-link
    display: inline-block
    margin: 0 .625rem

.header-form
    display: inline-block
    
.header-btn
    display: inline-block
    margin: 0 .625rem