include ../input/input.pug
include ../button/button.pug

form(action="", method="post" name="registration").register-popup-container 
    h1.register-popup__heading.text_style_large-bold Регистрация аккаунта
    .register-popup__name
        +input({type: 'text', text: 'Имя'})
    .register-popup__surname
        +input({type: 'text', text: 'Фамилия'})
    .register-popup__sex
        include ../sex-input-radio/sex-input-radio.pug
    h2.register-popup__field-heading.text_style_small-bold.register-popup__field-heading дата рождения
    .register-popup__birth-date
        +input({type: 'text', text: 'ДД.ММ.ГГГГ'})
    h2.register-popup__field-heading.text_style_small-bold данные для входа в сервис
    .register-popup__email
        +input({type: 'email'})
    .register-popup__password
        +input({type: 'password'})
    .register-popup__special-offer
        +input({type: 'toggle', text: 'Получать спецпредложения'})
    .register-popup__submit
        +input({type: 'submit', text: 'зарегистрироваться'})
    .register-popup-sign-in-container
        p.text_style_usual.register-popup__sign-in-par Уже есть аккаунт на Toxin
        .register-popup__sign-in-button
            +button({class: 'sign-in-button', btnText: "войти", isWhite: true, isWide: true})
