@import ../sex-input-radio/sex-input-radio
    
.register-popup-container 
    display: inherit
    background-color: $white
    padding: 20px 8% 45px 8%
    border-radius: 4px

.register-popup__heading
    margin: .67em 0 .6em 0

.register-popup__name,
.register-popup__surname,
.register-popup__birth-date,
.register-popup__password
    width: 100%
    margin: 10px 0

.register-popup__sex
    margin: 13px 0

.register-popup__field-heading
    margin-top: 1.8em
    margin-bottom: 0

.register-popup-sign-in-container
    display: flex
    justify-content: space-between
    align-items: center

.register-popup__sign-in-par
    display: inline-block

.register-popup__sign-in-button
    margin: 20px 0
    display: inline-block
