input(type="checkbox" id="id-checkbox-corridor").input-checkbox
label(for="id-checkbox-corridor").checkbox-label 
    .checkbox-label-title Широкий коридор
    .checkbox-label-content Ширина коридоров в номере не менее 91 см.
input(type="checkbox" id="id-checkbox-help").input-checkbox
label(for="id-checkbox-help").checkbox-label 
    .checkbox-label-title Помощник для инвалидов
    .checkbox-label-content На 1 этаже вас встретит специалист  и проводит до номера.