label.checkbox-label
    input(type="checkbox").input-checkbox
    span.checkbox-label-title Широкий коридор
    .checkbox-label-content Ширина коридоров в номере не менее 91 см.
label.checkbox-label 
    input(type="checkbox").input-checkbox
    span.checkbox-label-title Помощник для инвалидов
    .checkbox-label-content На 1 этаже вас встретит специалист  и проводит до номера.