.footer
    background-color: $white

.footer-grid
    display: grid
    grid-template-areas: "f-logo f-nav f-about-us f-support f-subscribe"
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr
    margin: 5.5rem 9% 5.5rem 9.5% 
    column-gap: 1rem

.footer-logo-column
    grid-area: f-logo

.footer-nav-column
    grid-area: f-nav

.footer-about-us-column
    grid-area: f-about-us

.footer-support-column
    grid-area: f-support

.footer-subscribe-column
    grid-area: f-subscribe

.footer-link
    padding: .6em 0

.footer-hr
    color: $gray2
    margin: 0

.footer__copyright
    margin: 1.625rem 0 1.625rem 9.5%
    display: inline-block

.footer-column-header

.footer-copyright-and-links-container
    display: flex
    justify-content: space-between

.footer__social-links-container
    display: inline-block
    margin: 1.5rem 8.6% 1.5rem 0
    
