@import ~normalize.css
@import common.blocks/font/font_montserrat
@import sass-variables
@import common.blocks/text_style/text_style_usual
@import common.blocks/text_style/text_style_small-bold
@import common.blocks/text_style/text_style_large-bold
@import common.blocks/text_style/text_style_usual-black


html
    font-family: $font
    background-color: $almost-white
    font-size: 100%
    color: $gray2

body
    height: 100%

.body-content-wrapper
    display: flex
    flex-direction: column
    min-height: 100%

.everything-except-footer
    flex: 1 0 auto
    //- background: url('landing-page-background-1.jpg') no-repeat
    background-size: cover

.footer 
    flex: 0 0 auto
p,
h1,
h2
    cursor: default


.main-and-aside-container
    display: flex
    justify-content: space-between
    
@import common.blocks/input/input
@import common.blocks/button/button
@import common.blocks/link/link
@import common.blocks/logo/logo
@import common.blocks/header/header
@import common.blocks/footer/footer
@import common.blocks/landing-page-main/landing-page-main
@import common.blocks/sign-in-page-main/sign-in-page-main
@import common.blocks/registration-page-main/registration-page-main
@import common.blocks/search-popup/search-popup
@import common.blocks/social-network-links/social-network-links
@import common.blocks/sign-in-popup/sign-in-popup
@import common.blocks/register-popup/register-popup
@import common.blocks/datepicker/datepicker
@import common.blocks/aside/aside
@import common.blocks/search-result/search-result
@import common.blocks/guest-number-control-element/guest-number-control-element
@import common.blocks/room-facilities-control-element/room-facilities-control-element
@import common.blocks/item-quantity-dropdown/item-quantity-dropdown
