input(type="text" required placeholder="Сколько гостей").input-text.has-i-q-control
.i-q-control.iqdropdown
    p(data-selection-text="гость" data-text-plural="гостя").iqdropdown-selection
    .iqdropdown-menu
        div(data-id="item1").iqdropdown-menu-option
            div
                p.iqdropdown-item взрослые
                p.iqdropdown-description
        div(data-id="item2").iqdropdown-menu-option
            div
                p.iqdropdown-item дети
                p.iqdropdown-description
        div(data-id="item3").iqdropdown-menu-option
            div
                p.iqdropdown-item младенцы
                p.iqdropdown-description