.guest-number-control-container
    input(type="text" required placeholder="Сколько гостей" value='').input-text.js-guest-number-control-element
    div(hidden).guest-number-dropdown-container
        .guest-number-adults.guest-number-field
            div.guest-number__adults.text_style_small-bold взрослые
            div
                button(type="button").js-guest-number__adults-decrease-button.guest-number-button.guest-number-button__inactive -
                .js-guest-number__adults-current-number.guest-number-current-number.text_style_small-bold 0
                button(type="button").js-guest-number__adults-increase-button.guest-number-button.guest-number-button__active +
        .guest-number-children.guest-number-field
            span.guest-number__children.text_style_small-bold дети
            div
                button(type="button").js-guest-number__children-decrease-button.guest-number-button.guest-number-button__inactive -
                .js-guest-number__children-current-number.guest-number-current-number.text_style_small-bold 0
                button(type="button").js-guest-number__children-increase-button.guest-number-button.guest-number-button__active +
        .guest-number-babies.guest-number-field
            span.guest-number__babies.text_style_small-bold младенцы
            div
                button(type="button").js-guest-number__babies-decrease-button.guest-number-button.guest-number-button__inactive -
                .js-guest-number__babies-current-number.guest-number-current-number.text_style_small-bold 0
                button(type="button").js-guest-number__babies-increase-button.guest-number-button.guest-number-button__active +
        .guest-number-controls
            button(type="button").js-guest-number__clear-button очистить
            button(type="button").js-guest-number__apply-button применить
