include ../item-quantity-dropdown/item-quantity-dropdown

+i-q-dropdown({comp: 'guest-number', options: ['adults', 'children', 'babies'], optionNames: ['взрослые', 'дети', 'младенцы'], hasButtons: true})